[submodule "turtlebot3_simulations"]
	path = turtlebot3_simulations
	url = https://github.com/ROBOTIS-GIT/turtlebot3_simulations.git
[submodule "stm32_ros_firmware/lib"]
	path = stm32_ros_firmware/lib
	url = https://github.com/levkovigor/FastInterruptEncoder.git
