<?xml version="1.0"?>
<launch>

  <!-- ++++++++++++++++++ Static Transforms ++++++++++++++++++ -->
  <node pkg="tf2_ros" type="static_transform_publisher" name="static_transform_odom_to_base_link" args="0 0 0 0 0 0 odom base_link" />
  <node pkg="tf2_ros" type="static_transform_publisher" name="static_transform_base_link_to_laser" args="0 0 0 0 0 0 base_link laser" />

  <!-- ++++++++++++++++++ Hector SLAM ++++++++++++++++++ -->
  <include file="$(find ugv_stm32_slam)/launch/ugv_stm32_hector.launch"/>

  <!-- ++++++++++++++++++ RPLIDAR ++++++++++++++++++ -->
  <include file="$(find rplidar_ros)/launch/rplidar_s2.launch"/>

  <!-- ++++++++++++++++++ RViz Configuration ++++++++++++++++++ -->
  <node name="rviz"
        pkg="rviz"
        type="rviz"
        args="-d $(find ugv_stm32_slam)/rviz/ugv_stm32_slam.rviz"
        required="false">
  </node>

</launch>
