<?xml version="1.0"?>
<launch>

    <!-- ROSSerial node configuration-->
    <node pkg="rosserial_python" type="serial_node.py" name="rosserial_node" output="screen">
        <param name="serial_port" value="/dev/ttyUSB0"/>
        <param name="baud_rate" value="57600"/>
    </node>

  <!-- ++++++++++++++++++ RPLIDAR ++++++++++++++++++ -->
  <include file="$(find rplidar_ros)/launch/rplidar_s2.launch"/>

  <!-- ++++++++++++++++++ Joint State Publisher GUI ++++++++++++++++++ -->
  <node name="joint_state_publisher"
        pkg="joint_state_publisher"
        type="joint_state_publisher" >
    <param name="use_gui" value="false"/>
  </node>

  <!-- ++++++++++++++++++ Robot State Publisher ++++++++++++++++++ -->
  <node name="robot_state_publisher"
        pkg="robot_state_publisher"
        type="robot_state_publisher">
  </node>

  <!-- ++++++++++++++++++ Load Robot Description ++++++++++++++++++ -->
  <arg name="model" default="$(find ugv_stm32_description)/urdf/ugv_stm32_description.xacro" />
  <param name="robot_description" command="$(find xacro)/xacro '$(arg model)'"/>



  </node>

</launch>
